<%= div_for comment do %>
	<p>
	<!--time_ago_in_words is a rails helper method that takes the time the comment was created variable and converts it into words -->
		<strong>Posted <%=time_ago_in_words(comment.created_at)%>ago</strong><br />
		<!--print out the comment -->
		<%= h(comment.body)%>
	</p>
<% end %>
