<p id="notice"><%= notice %></p>

<p>
<!--the title of the post -->
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
<!--the body of the post -->
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<!--create a second level heading -->
<h2>Comments</h2>
<!--create a divisional document for this comment -->
<div id="comments">
<!--IMPLEMENT THE DRY PRINCIPLE comment the code -->
	<!--loop using embedded ruby; actually an iterator that goes thro each comment and <!--for each of them it creates a div  -->
	<% @post.comments.each do |comment| %>
	<!--the snippet below is the div that we want to modify dynamically using ajax-->
	<!--copy this piece of code to a partial template-->
		<%= div_for comment do %>
		<p>
			<!--time_ago_in_words is a rails helper method that takes the time the comment was created variable and converts it into words -->
			<strong>Posted <%=time_ago_in_words(comment.created_at)%></strong><br />
			<!--print out the comment -->
			<%= h(comment.body)%>
		</p>
	<% end %>
<% end %> -->
<%= render :partial => @post.comments.reverse %>
<div/>

<!--form for adding new comments -->
<%= form_for([@post, Comment.new], remote: true) do |f|%>
	<p><%= f.label :body, "New comment"%><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
